/* I linked the custom font through the index.html page.
   This is the code in the index.html page: 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo&display=swap" rel="stylesheet">
*/
/* page css */
html, body, #root, .NavBar {
    height: 100%;
  
  }
  
  .NavBar {
    text-align: center;
    background-color: #9664FF;
    
  }
  /* container css makes whole container centeres */
  .center{
    display: flex;
    
    margin-top: 15%;
  }
  /*"layout" heading teaxt*/
  .nav-heading{
    color:#9664FF;
    font-family: 'Archivo', sans-serif;
    font-weight: 900;
    font-size: 2em;
    line-height: 52px;
    line-height: 100%;
    vertical-align: Top;  
    text-align: center;
  }
  /*Nav bar edits like color, and shadow behind the nav bar*/
  .color-nav{
    background-color: #EDE4FF;
    padding: 4em 1em 4em 1em;
    border-radius: 25px;
    
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  }
  /*Actual text of the nav bar, these are the links*/
  .nav-lin{
    font-family: 'Archivo', sans-serif;
    color: #605D64!important;
    font-size: 1.4em;
    font-weight: 400;
    margin: 0px;
    text-align: center;
  }
  .nav-lin:hover{
    color:#0C0B0C !important;
  }
  .nav-lin:active{
    color:#0C0B0C !important;
  }
  