@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&family=Montserrat&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.body{
    
    background: #6D44C5;
    
}
#navBar{
  position: relative;
 
}
#nextButton{
  display: flex;
  align-items: center;
}

/* HomePage.js */
.img-fluid-logo {
  align-items:center;
  margin-bottom: 2em;
  width: 50%;
}
.btn-white-clr{
  color: white !important;
  font-weight: 800 !important;
}
/* aboutMe.js */

.aboutMe{
  position: static;
  display: block;
  max-width: 80%;
  padding: 10px;
  margin: 0.5rem 2.5rem;
  overflow: hidden;
  font-size: .7125rem;
  line-height: 1.2;
  text-align: center;
  border-radius: 25px;
}

/* themeLayouts.js*/
.themeLayouts {
  position: static;
  display: block;
  margin: 2.5rem 2.5rem;
  padding: 10px;
  overflow: hidden;
  text-align: center; 
  align-items:center;
}

.text-center{
    position: absolute;
    top: 10%;
    width: 100%;
    max-width: 100%;
}

.text-center h1{
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 157px;
    
    color: #FFFFFF;
}

.text-center h5{

    
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 39px;

    color: #FFFFFF;


}

.nextBack {
   width: 50%;
}

#headerH3{
font-family: Archivo;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 60px;
text-align: center;

color: #FFFFFF;
}

.text-center h4{
    position: relative;
    top: -30px;

    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 52px;

    color: #FFFFFF;
}

#headerH5{
font-family: Archivo;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 20px;
text-align: center;

color: #E0C3F7;

}

#homeButton{
    position: relative;
    top: 50px;


    background: #C2A5FF;
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    font-family: Archivo;
    margin: auto;
    transition-duration: 0.4s;
    cursor: pointer;
}

#back{
  position: relative;
  /*
  bottom: 10px;
  */
  left: 5%;


font-family: Archivo;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 52px;
text-align: center;
color: #FFFFFF;
border: #6D44C5;
background: #6D44C5;
}

#back:hover {
  text-decoration: underline;
}

#back:active {
  text-decoration: underline;
}

#next{
  position: relative;
  
  left: 75%;
  
  
font-family: Archivo;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 52px;
text-align: center;
border: #6D44C5;

color: #FFFFFF;
background: #6D44C5;

}

#next:hover {
  text-decoration: underline;
}

#next:active {
  text-decoration: underline;
}



/*
.button {

    position: absolute;
    top: 150%;
    left: 35%;
   
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background: #C2A5FF;
  }

*/
/*-------------------------------Customized Check box-------------------------*/
/* Customize the label (the container) */
.position-relative .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #C2A5FF;
    border:black; 
  }
  
  /* Hide the browser's default checkbox */
  .position-relative .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 33px;
    width: 33px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .position-relative .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .position-relative .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .position-relative .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .position-relative .container .checkmark:after {
    left: 10px;
    top: 5px;
    width: 15px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/*-------------------------------Customized Check Box End-------------------------*/
/* Style the skills at projectLayouts.js */
.skill {
  border: 1px solid #50a9d1;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 500;
  width: auto;
  display: inline-block;
  font-size: 10px;
  line-height: 1.33333em;
  padding: 7px 18px;
  margin-top: 0.8em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
/* Style the social media logos at contactMeLayouts.js */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 12%;
  align-items: center;
  text-decoration: none;
  margin: 5px 7px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-envelope {
  background: #125688;
  color: white;
}

/*-------------------------------InfoPAGE-------------------------*/
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 85%;
  border:none;
  
}
.label-width{
  width:100%;
}
.enter-info{
  font-size: 60px !important;
  color: white;
  text-align: center;
  padding: 10px;
}
.enter-head{
  text-align: left;
  color: white;
  padding: 10px;
  font-size:  3em;
}
.enter-pic{
  background-color: rgba(92, 53, 92, 0.459);
  height: 4em;
  margin:20px;
}

.info-page{
  background-color: #C2A5FF; 
  padding: 20px;
}
.enter-row{
  text-align:center;
}
.section-description{
  color: white;
  padding: 10px;
  font-size:  1.5em;
}
.input-page{
  width:80%;

}
.name-input{
  border:none;
  width: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
}
