@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&family=Montserrat&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
body{

 
    
    background: #6D44C5;
}

/* aboutMe.js */
.aboutMe{
  position: static;
  display: block;
  max-width: 50%;
  padding: 15px 15px 15px 16px;
  margin: 2rem 2rem;
  overflow: hidden;
  font-size: .8125rem;
  line-height: 1.5;
  text-align: center;
  background-color: rgba(153, 42, 42, 0.05);
}

.text-center{
    position: absolute;
    top: 20%;
    width: 100%;
    max-width: 100%;
}

.text-center h1{
    

    
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 157px;
    
    color: #FFFFFF;
}

.text-center h5{

    
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 39px;

    color: #FFFFFF;


}

.text-center h4{
    position: relative;
    top: -30px;

    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 52px;

    color: #FFFFFF;
}

.btn{
    position: relative;
    top: 100px;


    background: #C2A5FF;
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    font-family: Archivo;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
/*
.button {

    position: absolute;
    top: 150%;
    left: 35%;
   
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background: #C2A5FF;
  }

*/
/*-------------------------------Customized Check box-------------------------*/
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #C2A5FF;
    border:black; 
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 33px;
    width: 33px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 10px;
    top: 5px;
    width: 15px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/*-------------------------------Customized Check Box End-------------------------*/
